<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            color: #333;
            text-align: center;
            padding: 20px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Hello, {{ username }}!</h1>
    </div>

    <div>
         <a href="/logout">Logout</a>
    </div>

    <div>
        <a href="/changepass">forgot password ?</a>
    </div>

    <div>
        <a href="/accounts/create">create bank account ?</a>
    </div>
</body>
</html>
